.app-loading-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

